{% extends 'base.html.twig' %}

{% block title %}New Provinces{% endblock %}

{% block body %}
    <h1>Create new Provinces</h1>

    {{ include('provinces/_form.html.twig') }}

    <a href="{{ path('provinces_index') }}">back to list</a>
{% endblock %}
