<!DOCTYPE html>
<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>HTML Meta Tag</title>
    <!--favicon-->
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon"/>
    <meta http-equiv = "refresh" content = "5; url =/communes" />
</head>
<body>
<h1 align="centre">l'option de vérification est en cours de développement, veuillez rester à l'écoute.</h1>

<h3 align="centre">cette page sera redirigée vers l'application après 5 secondes.</h3>
</body>
</html>