{% extends 'base.html.twig' %}

{% block title %}New Tauxfonctionement{% endblock %}

{% block body %}
    <h1>Create new Tauxfonctionement</h1>

    {{ include('tauxfonctionement/_form.html.twig') }}

    <a href="{{ path('tauxfonctionement_index') }}">back to list</a>
{% endblock %}
