<form id="deleteForm" method="post" action="{{ path('techniciens_delete', {'technicienid': technicien.technicienid}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ technicien.technicienid) }}">
    <button type="button" id="btnDelete" class="btn btnAED btn-danger"><i class="fa fa-check-square-o"></i> Supprimer</button>
</form>
