{% extends 'base.html.twig' %}

{% block title %}Edit Races{% endblock %}

{% block body %}
    <h1>Edit Races</h1>

    {{ include('races/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('races_index') }}">back to list</a>

    {{ include('races/_delete_form.html.twig') }}
{% endblock %}
