{% extends 'base.html.twig' %}

{% block title %}New Races{% endblock %}

{% block body %}
    <h1>Create new Races</h1>

    {{ include('races/_form.html.twig') }}

    <a href="{{ path('races_index') }}">back to list</a>
{% endblock %}
